<%= turbo_frame_tag "new_company" do%>

<div>
<h1 class="font-bold text-4xl">New Company</h1>
<%= render 'form' , company: @company %>
<%= link_to 'Return to companies page', companies_path %>
</div>
<% end %>