<h1>Create a new company</h1>

<%= render 'shared/errors', obj: @company %>

<div id="newcompanyform">
  <%= render 'form' , status: :unprocessable_entity %>
</div>

<%= link_to 'Return to companies page', companies_path %>
